<div class="authentication-card-container" fxLayout="column" fxLayoutAlign="center">
    <mat-card class="authentication-card">
        <mat-card-header> <mat-card-title>Logout</mat-card-title></mat-card-header>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onSubmit()">
                Logout
            </button>
        </mat-card-actions>
    </mat-card>
</div>
<div class="container mt-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Author</th>
                <th scope="col">Title</th>
                <th scope="col">Plot</th>
                <th scope="col">Isbn</th>
                <th scope="col">Date added</th>
                <th scope="col">Number of readings</th>
                <th scope="col">Cancellation date</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let book of books">
                <tr>
                    <td>{{ book.author }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.plot }}</td>
                    <td>{{ book.isbn }}</td>
                    <td>{{ book.dateAdded | date:'short':'IST' }}</td>
                    <td>{{ book.readingsNumber }}</td>
                    <td>{{ book.cancellationDate | date:'short':'IST'}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>