<div class="card-wrapper">

    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>{{book.title}}</mat-card-title>
            <mat-card-subtitle>
                {{book.author}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Plot</p>
            <p>
                {{book.plot}}
            </p>
            <mat-list role="list">
                <mat-list-item role="listitem">ISBN: {{book.isbn}}</mat-list-item>
                <mat-list-item role="listitem">Added Date: {{book.dateAdded | date :'short'}}</mat-list-item>
                <mat-list-item role="listitem">Cancellation Date (if removed....) {{book.cancellationDate | date :'short'}}</mat-list-item>
                <mat-list-item role="listitem">Number of readings: {{book.readingsNumber}}</mat-list-item>
            </mat-list>

        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="actionRead(book)">READ</button>
            <button mat-raised-button color="primary" (click)="actionRemove(book)">REMOVE FROM LIBRARY</button>
        </mat-card-actions>
    </mat-card>

</div>
